{% extends "base.html" %}

{% block title %}Fuckbook - Diary{% endblock %}

{% block body %}
<div class="container-fluid border-bottom">
    <div class="row-fluid">
        <div class="span4">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=New+York+NY&zoom=15&markers=color:blue|New+York+NY&sensor=false&size=600x200&key=AIzaSyB1QVnitPq0ihs7RPolDDyvFnOPNmFyMAI"/>
        </div>
        <div class="span2">
        <table class="table table-striped">
            <tr>
              <td><b>Rating:</b></td>
              <td>Put Raiting here</td>
            </tr>
            <tr>
              <td><b>Duration:</b></td>
              <td>Put duration here</td>
            </tr>
            <tr>
              <td><b>Contraception:</b></td>
              <td>Set YES or NO</td>
            </tr>
        </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12"><b>Poses</b></div>
    </div>
    <div class="row-fluid">
        <div class="span1"><img src="{{ STATIC_URL }}poses/POSES_HERE.jpg"/></div>
    </div>
    <div class="row-fluid">
        <div class="span12"><b>Places</b></div>
    </div>
    <div class="row-fluid">
        <div class="span1"><img src="{{ STATIC_URL }}poses/PLACES_HERE.jpg"/></div>
    </div>
</div>

{% endblock %}