{% extends "base.html" %}

{% block title %}Fuckbook - Dice{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <!-- Container -->
            <div class="row-fluid">
                <div class="span6">
                    <img src="{{ STATIC_URL }}poses/{{ select_random_pose }}.jpg"/>
                    <br/>{{ select_random_pose }}
                </div>
                <div class="span6">
                    <img src="{{ STATIC_URL }}places/{{ select_random_place }}.jpg"/>
                    <br/>{{ select_random_place }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}