{% extends "base.html" %}


{% block title%}Login{% endblock %}


{% block body %}
    <div class="container">
        <div class="row-fluid text-center">
            <h3>Hello my friend, ready to have fun?</h3>
        </div>
        <div class="row-fluid">
            <div class="span4"></div>
            <div class="span4">
                <form class="form-signin" method="post" style="width: 85%" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">{% if form.errors %}Wrong Password!{% endif %}</h2>
                    <input type="text" name="username" class="input-block-level" placeholder="username">
                    <input type="password" name="password" class="input-block-level" placeholder="password">
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
                </form>
            </div>
            <div class="span4"></div>
        </div>
    </div> <!-- /container -->
{% endblock %}
