{% extends "first_steps_base.html" %}

{% block title %}Fuckbook - Login{% endblock %}
{% block Caption %}Hey, you are back.. Lucky you!{% endblock %}              
{% block form_block %}
    <form class="form" method="post" style="width: 85%" =action"{% url 'login' %}">
        {% csrf_token %}
        {{authentication_form}}
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        <a class="offset2" href="{% url 'register' %}">Dare to register?</a>
    </form>
{% endblock %}