{% extends "base.html" %}

{% block title %}Fuckbook - Notifications{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span4">
                    <table class="table table-striped">
                        {% if current_user.display_periodical_notification %}
                        {% if periodical_notifications.count == 0 %}
                        <tr><td>You have no notifications to display.</td></tr>
                        {% else %}
                        {% for notification in periodical_notifications %}
                        <tr>
                            <td>{{ notification.date_saved }}: </td>
                            <td>{{ notification.message }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        {% else %}
                        <tr><td>There are no notifications to display.</td></tr>
                        {% endif %}
                    </table>
                </div>
                <div class="span4">
                    <table class="table table-striped">
                        {% if current_user.display_tip_notification %}
                        {% if tip_notifications.count == 0 %}
                        <tr><td>You have no notifications to display.</td></tr>
                        {% else %}
                        {% for notification in tip_notifications %}
                        <tr>
                            <td>{{ notification.date_saved }}: </td>
                            <td>{{ notification.message }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        {% else %}
                        <tr><td>There are no notifications to display.</td></tr>
                        {% endif %}
                    </table>
                </div>
                <div class="span4">
                    <table class="table table-striped">
                        {% if current_user.display_difference_notification %}
                        {% if difference_notifications.count == 0 %}
                        <tr><td>You have no notifications to display.</td></tr>
                        {% else %}
                        {% for notification in difference_notifications %}
                        <tr>
                            <td>{{ notification.date_saved }}: </td>
                            <td>{{ notification.message }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        {% else %}
                        <tr><td>There are no notifications to display.</td></tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}