{% extends "base.html" %}

{% block title %}Fuckbook - Edit profile{% endblock %}
{% block body %}
    <div class="row-fluid">
        <form class="form" method="post" style="width: 85%" action="{% url 'profile_edit' %}">
            {% csrf_token %}
            {{ user_form }}<br/>
            {{ person_form }}<br/>
            {{ person_preferences_form }}<br/>
            {{ personal_settings_form }}<br/>
            <input class="btn btn-primary btn-large" type="submit" value="Save"/>
        </form>
    </div>
{% endblock %}