{% extends "base.html" %}

{% block title %}Fuckbook - Profile{% endblock %}

{% block body %}
    <div class="row-fluid">
      <div class="span12">
        <!-- Container -->
        <div class="row-fluid">
          <div class="span6">
            <!-- Container -->
            <div class="row-fluid">
              <div class="span2"><img src="{{profile_photo}}" heitgth="12" alt="profile picture"/></div>
              <div class="span1"></div>
              <div class="span7">
                <table class="table table-striped">
                    <tr>
                      <td><b>Name:</b></td>
                      <td>{{full_name}}</td>
                    </tr>
                    <tr>
                      <td><b>Gender:</b></td>
                      <td>{{gender}}</td>
                    </tr>
                    <tr>
                      <td><b>Age:</b></td>
                      <td>{{age}}</td>
                    </tr>
                    <tr>
                      <td><b>City/Town:</b></td>
                      <td>{{city}}</td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="span6"><!-- Insert Change settings here --></div>
        </div>
        <!-- Insert In a relation with, Preferred poses and Preferred places here -->
      </div>
    </div>
{% endblock %}