{% extends "base.html" %}

{% block title %}Fuckbook - Profile{% endblock %}

{% block body %}
    <div class="row-fluid">
      <div class="span12">
        <!-- Container -->
        <div class="row-fluid">
          <div class="span6">
            <!-- Container -->
            <div class="row-fluid">
              <div class="span6"><img src="{{profile_photo}}" alt="profile picture"/></div>
              <div class="span6">
                {{full_name}}<br/>
                {{gender}}<br/>
                {{age}}<br/>
                {{city}}<br/>
                <!--Just for FUN to be deleted-->
                All other female friends: {{friends}}
              </div>
            </div>
          </div>
          <div class="span6"><!-- Insert Change settings here --></div>
        </div>
        <!-- Insert In a relation with, Preferred poses and Preferred places here -->
      </div>
    </div>
{% endblock %}