{% extends "base.html" %}

{% block title %}Fuckbook - Statistics{% endblock %}

{% block body %}
    <div class="container-fluid well in">
            <form class="form" method="get" style="width: 85%" action="{% url 'statistics' %}">
                {{ statistics_form.non_field_errors }}
                <div class="row-fluid">
                    <div class="span1">
                        {{ statistics_form.base.errors }}
                        <label for="id_base">Base:</label>
                    </div>
                    <div class="span9">
                        {{ statistics_form.base }}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span1">
                        <label for="id_from_t_month">From:</label>
                    </div>
                    <div class="span8">
                        {{ statistics_form.from_t }}
                    </div>
                    <div class="span2">{{ statistics_form.from_t.errors }}</div>
                </div>
                <div class="row-fluid">
                    <div class="span1">
                        <label for="id_to_t_month">To:</label>
                    </div>
                    <div class="span8">
                        {{ statistics_form.to_t }}
                    </div>
                    <div class="span2">{{ statistics_form.to_t.errors }}</div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                    <input class="btn btn-primary btn-large" type="submit" value="Show me the stats"/>
                </div>
                </div>
            </form>
    </div>
    {% for statiscic_piece in statistics_page %}
    <div class="container-fluid well in">
        <div class="alert alert-info">
        {% if group_by == 'm' %}
            Month/Year: {{ statiscic_piece.date }} 
        {% elif group_by == 'd' %}
            Date: {{ statiscic_piece.date }}
        {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span2">
                <b>Number of checkins:</b> {{ statiscic_piece.number_of_checkins }}
            </div>
            <div class="span2">
                <b>Average duration:</b> {{ statiscic_piece.average_duration }}
            </div>
            <div class="span2">
                <b>Average rating:</b> {{ statiscic_piece.average_rating }}
            </div>
            <div class="span2">
                <b>Contracepted checkins:</b> {{ statiscic_piece.contraception }}
            </div>
            <div class="span4">
                <b>Not contracepted checkins:</b> {{ statiscic_piece.no_contraception }}
            </div>
        </div>
        <hr class="divider"/>
        <div class="row-fluid">
            <div class="span4">
                <b>Top three poses:</b>
            </div>
            <div class="span4">
                <b>Top three places:</b>
            </div>
            <div class="span4">
            <b>Top three partners:</b>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                {% for pose in statiscic_piece.top_three_poses %}
                <img src="{{ STATIC_URL }}poses/{{ pose }}.jpg"/>
                {% endfor %}
            </div>
            <div class="span4">
                {% for place in statiscic_piece.top_three_places %}
                <img src="{{ STATIC_URL }}places/{{ place }}.jpg"/>
                {% endfor %}
            </div>
            <div class="span4">            
                {% for partner in statiscic_piece.top_three_partners %}
                    <li>{{ partner }}</li>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if paginator.num_pages > 1 %}
    <div class="pagination">
        <ul>
            {% if statistics_page.has_previous %}
            <li class="active"><a href="?page={{ statistics_page.previous_page_number }}&base={{ statistics_form.cleaned_data.base }}&from_t_day={{ statistics_form.cleaned_data.from_t.day }}&from_t_month={{ statistics_form.cleaned_data.from_t.month }}&from_t_year={{ statistics_form.cleaned_data.from_t.year }}&to_t_month={{ statistics_form.cleaned_data.to_t.month }}&to_t_day={{ statistics_form.cleaned_data.to_t.day }}&to_t_year={{ statistics_form.cleaned_data.to_t.year }}">{{ statistics_page.previous_page_number }}</a></li>
            {% endif %}
            <li class="disabled"><a href="#">{{ statistics_page.number }}</a></li>
            {% if statistics_page.has_next %}
            <li class="active"><a href="?page={{ statistics_page.next_page_number }}&base={{ statistics_form.cleaned_data.base }}&from_t_day={{ statistics_form.cleaned_data.from_t.day }}&from_t_month={{ statistics_form.cleaned_data.from_t.month }}&from_t_year={{ statistics_form.cleaned_data.from_t.year }}&to_t_month={{ statistics_form.cleaned_data.to_t.month }}&to_t_day={{ statistics_form.cleaned_data.to_t.day }}&to_t_year={{ statistics_form.cleaned_data.to_t.year }}">{{ statistics_page.next_page_number }}</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endblock %}